# compiled python files
*.pyc

# django migration files
*/migrations/*

# don't use and uploade sqlite3!
*.sqlite3

# fe module file
client/node_modules/
client/dist/
client/bower_components/

**/.sass-cache/

# jetbrain ide settings
.idea/

# log file
log/
