@charset "UTF-8";

body,html {
	height: 100%;
}

body {
	overflow: hidden;
	height: 100%;
	font-family: "나눔고딕", NanumGothic, "돋움", dotum, sans-serif;
}



header {
	background-color: black;
	height: 50px;
	width: 100%;

	.title {
		font-size: 21px;
		font-weight: 700;
		color: white;
		padding: 10px 0 0 10px;
		display: block;
	}
}


#content {
	height: 100%;
	
	aside {
		float: left;
		background-color: #933F3F;
		height: 100%;
		width: 200px;
		position: relative;

		.search-area {
			position: relative;
			padding: 15px 4px 11px 4px;
			height: 10%;

			.search-input-wrap {

				.search-input {
					width: 75%;
					height: 20px;
				}
				.search-btn {
					height: 23px;
					background-color: white;
					border: none;
				}
			}
		}

		.party-list-area {
			width: 100%;
			position: relative;
			height: 90%;
			overflow-y: auto;


			.party-item {
				margin-top : 3px;
				

				.party-item-header {
					height: 30px;
					width: 100%;
					background-color: #F4F0F0;
					cursor: pointer;

					.party-name {
						text-decoration: none;
						color: black;

						span {
							line-height: 28px;
							padding-left: 6px;
						}
					}

					.party-new-count {
						color: #fa5d5d;
						font-weight: 800;
						text-decoration: none;
					}

				}

				.party-member-list {
					display: none;
					margin-bottom: 10px;
					padding-top: 3px;
					background-color: #9EFEBC;

					.party-member {
						width: 100%;
						height: 18px;
						line-height: 17px;
						padding: 3px 0px 3px 10px;
						border-bottom: 1px solid white;

						a {
							text-decoration: none;
							color: black;
						}
					}


				}

				&.on {

					.party-item-header {
						background-color: #D6F3DF;
					}

					.party-member-list {
						display: block;
					}
				}
			}
		}




	}

	section	{
		margin-left: 200px;
		overflow-y: scroll;
		height: 100%;

		.section-title {
			padding: 20px 0 3px 10px;
			font-weight: 700;
		}

		.lawmaker-list-area{
			margin-top: 3px;

			.lawmaker-list{
				padding: 10px;

				.lawmaker-item {
					background-color: #F4F0F0;
					margin-bottom: 10px;
					padding: 10px;

					.lawmaker-item-header {
						margin-bottom: 10px;

						.lawmaker-rank {
							font-size: 16px;
							font-weight: 600;
						}
						.lawmaker-name {
							font-size: 16px;
							font-weight: 600;
						}
						.lawmaker-header-rigth-item {
							float: right;
							font-size: 13px;

							.total-label-title {
								padding-left: 5px;
							}
							.member-page-btn {
								padding-left: 5px;
							}

						}
						.up {
							color: red;
						}
						.down {
							color: blue;
						}
						.new {
							color: red;
						}
					}

					.lawmaker-image {
						float:left;
						width: 130px;
					}

					.issue-list {
						margin-left: 130px;

						.issue-item {
							margin-bottom: 5px;
							border: 1px solid #CECED2;
							padding: 5px;

							.title {
								overflow: hidden;
								font-weight: 600;
								text-overflow: ellipsis;
								white-space: nowrap;
								word-break: break-all;
								width: 100%;
								display: inline-block;
							}
							.issue-origin {
								font-size: 12px;
								font-weight: 600;
							}
							.bar {
								font-size: 12px;
							}
							.day {
								font-size: 12px;
							}
						}
					}

					
				}
			}
			

		}

	}




}