<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>LawmakerNews</title>
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/index.css">
</head> 
<body class="ko_KR"> 
	<header id="header">
		<span class="title">
			Law maker news	
		</span>
	</header>
	<div id ="content">
		<aside>
			<div class="search-area">
				<span class="search-input-wrap">
					<input class="search-input"/>
					<button class="search-btn">검색<span class="search-icon icon"></span></button>
				</span>
			</div>
			<div class="party-list-area">
				<ul>
					<li class="party-item">
						<div class="party-item-header">
							<a href="#" class="party-name">
								<span>새누리당</span>
							</a>
							<a href="#" class="party-new-count">
								<span>7</span>
							</a>
						</div>
					</li>
					<li class="party-item on">
						<div class="party-item-header">
							<a href="#" class="party-name">
								<span>민주통합당</span>
							</a>
							<a href="#" class="party-new-count">
								<span>23</span>
							</a>
						</div>
						<ul class="party-member-list">
							<li class="party-member">
								<a href="#">
									이해찬			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							<li class="party-member">
								<a href="#">
									김비오			
								</a>
							</li>
							
						</ul>
					</li>
					<li class="party-item">
						<div class="party-item-header">
							<a href="#" class="party-name">
								<span>자유진보당</span>
							</a>
							<a href="#" class="party-new-count">
								<span>7</span>
							</a>
						</div>
					</li>
					<li class="party-item">
						<div class="party-item-header">
							<a href="#" class="party-name">
								<span>올리고당</span>
							</a>
							<a href="#" class="party-new-count">
								<span>1</span>
							</a>
						</div>
					</li>
					<li class="party-item">
						<div class="party-item-header">
							<a href="#" class="party-name">
								<span>어쩌고저쩌고당</span>
							</a>
							<a href="#" class="party-new-count">
								<span></span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</aside>
		<section>
			<h1 class="section-title">DAILY HOT Lawmaker</h1>
			<div class="lawmaker-list-area">
				<ul class="lawmaker-list">
					<li class="lawmaker-item">
						<div class="lawmaker-item-header">
							<span class="lawmaker-rank">1</span>
							<span class="lawmaker-name">서대원</span>
							<span class="rank-arrow up">▲</span>
							<span class="rank-change up">1</span>

							<div class="lawmaker-header-rigth-item">
								<span class="new new-label-title">NEW</span>
								<span class="new new-count">302</span>
								<span class="total-label-title">TOTAL</span>
								<span class="total-count">23,456</span>
								<span class="member-page-btn"><a href="#">페이지가기</a></span>

							</div>
						</div>
						<div class="lawmaker-image">
							<img src="http://tv03.search.naver.net/thm?size=120x150&quality=9&q=http://sstatic.naver.net/people/9/200802211309328761.jpg"/>
						</div>
						<div class="issue-list">
							<ul>
								<li class="issue-item">
									<span class="title">가나다라마바사아자차카타파하 제목제목제목 ㅋㅋㅋㅋㅋㅋㅋㅋ큐큐큨큐큐큐큐큐큐큐큐큐큐큨큐</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
								<li class="issue-item">
									<span class="title">짧은 제목</span>
									<span class="issue-origin">크아아아아오옹</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>

								<li class="issue-item">
									<span class="title">abcdefgabcdefgabcdefgabcdefgabcdefgabcdefgabcdefg</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
							</ul>

						</div>

					</li>
					<li class="lawmaker-item">
						<div class="lawmaker-item-header">
							<span class="lawmaker-rank">2</span>
							<span class="lawmaker-name">최민호</span>
							<span class="rank-arrow down">▼</span>
							<span class="rank-change down">1</span>

							<div class="lawmaker-header-rigth-item">
								<span class="new new-label-title">NEW</span>
								<span class="new new-count">302</span>
								<span class="total-label-title">TOTAL</span>
								<span class="total-count">23,456</span>
								<span class="member-page-btn"><a href="#">페이지가기</a></span>

							</div>
						</div>
						<div class="lawmaker-image">
							<img src="http://tv03.search.naver.net/thm?size=120x150&quality=9&q=http://sstatic.naver.net/people/portrait/201505/20150528164103238.jpg"/>
						</div>
						<div class="issue-list">
							<ul>
								<li class="issue-item">
									<span class="title">가나다라마바사아자차카타파하 제목제목제목 ㅋㅋㅋㅋㅋㅋㅋㅋ큐큐큨큐큐큐큐큐큐큐큐큐큐큨큐</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
								<li class="issue-item">
									<span class="title">짧은 제목</span>
									<span class="issue-origin">크아아아아오옹</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>

								<li class="issue-item">
									<span class="title">abcdefgabcdefgabcdefgabcdefgabcdefgabcdefgabcdefg</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
							</ul>

						</div>

					</li>
					<li class="lawmaker-item">
						<div class="lawmaker-item-header">
							<span class="lawmaker-rank">1</span>
							<span class="lawmaker-name">서대원</span>
							<span class="rank-arrow up">▲</span>
							<span class="rank-change up">1</span>

							<div class="lawmaker-header-rigth-item">
								<span class="new new-label-title">NEW</span>
								<span class="new new-count">302</span>
								<span class="total-label-title">TOTAL</span>
								<span class="total-count">23,456</span>
								<span class="member-page-btn"><a href="#">페이지가기</a></span>

							</div>
						</div>
						<div class="lawmaker-image">
							<img src="http://tv03.search.naver.net/thm?size=120x150&quality=9&q=http://sstatic.naver.net/people/9/200802211309328761.jpg"/>
						</div>
						<div class="issue-list">
							<ul>
								<li class="issue-item">
									<span class="title">가나다라마바사아자차카타파하 제목제목제목 ㅋㅋㅋㅋㅋㅋㅋㅋ큐큐큨큐큐큐큐큐큐큐큐큐큐큨큐</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
								<li class="issue-item">
									<span class="title">짧은 제목</span>
									<span class="issue-origin">크아아아아오옹</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>

								<li class="issue-item">
									<span class="title">abcdefgabcdefgabcdefgabcdefgabcdefgabcdefgabcdefg</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
							</ul>

						</div>

					</li>
					<li class="lawmaker-item">
						<div class="lawmaker-item-header">
							<span class="lawmaker-rank">1</span>
							<span class="lawmaker-name">서대원</span>
							<span class="rank-arrow up">▲</span>
							<span class="rank-change up">1</span>

							<div class="lawmaker-header-rigth-item">
								<span class="new new-label-title">NEW</span>
								<span class="new new-count">302</span>
								<span class="total-label-title">TOTAL</span>
								<span class="total-count">23,456</span>
								<span class="member-page-btn"><a href="#">페이지가기</a></span>

							</div>
						</div>
						<div class="lawmaker-image">
							<img src="http://tv03.search.naver.net/thm?size=120x150&quality=9&q=http://sstatic.naver.net/people/9/200802211309328761.jpg"/>
						</div>
						<div class="issue-list">
							<ul>
								<li class="issue-item">
									<span class="title">가나다라마바사아자차카타파하 제목제목제목 ㅋㅋㅋㅋㅋㅋㅋㅋ큐큐큨큐큐큐큐큐큐큐큐큐큐큨큐</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
								<li class="issue-item">
									<span class="title">짧은 제목</span>
									<span class="issue-origin">크아아아아오옹</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>

								<li class="issue-item">
									<span class="title">abcdefgabcdefgabcdefgabcdefgabcdefgabcdefgabcdefg</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
							</ul>

						</div>

					</li>
					<li class="lawmaker-item">
						<div class="lawmaker-item-header">
							<span class="lawmaker-rank">1</span>
							<span class="lawmaker-name">서대원</span>
							<span class="rank-arrow up">▲</span>
							<span class="rank-change up">1</span>

							<div class="lawmaker-header-rigth-item">
								<span class="new new-label-title">NEW</span>
								<span class="new new-count">302</span>
								<span class="total-label-title">TOTAL</span>
								<span class="total-count">23,456</span>
								<span class="member-page-btn"><a href="#">페이지가기</a></span>

							</div>
						</div>
						<div class="lawmaker-image">
							<img src="http://tv03.search.naver.net/thm?size=120x150&quality=9&q=http://sstatic.naver.net/people/9/200802211309328761.jpg"/>
						</div>
						<div class="issue-list">
							<ul>
								<li class="issue-item">
									<span class="title">가나다라마바사아자차카타파하 제목제목제목 ㅋㅋㅋㅋㅋㅋㅋㅋ큐큐큨큐큐큐큐큐큐큐큐큐큐큨큐</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
								<li class="issue-item">
									<span class="title">짧은 제목</span>
									<span class="issue-origin">크아아아아오옹</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>

								<li class="issue-item">
									<span class="title">abcdefgabcdefgabcdefgabcdefgabcdefgabcdefgabcdefg</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
							</ul>

						</div>

					</li>
					<li class="lawmaker-item">
						<div class="lawmaker-item-header">
							<span class="lawmaker-rank">1</span>
							<span class="lawmaker-name">서대원</span>
							<span class="rank-arrow up">▲</span>
							<span class="rank-change up">1</span>

							<div class="lawmaker-header-rigth-item">
								<span class="new new-label-title">NEW</span>
								<span class="new new-count">302</span>
								<span class="total-label-title">TOTAL</span>
								<span class="total-count">23,456</span>
								<span class="member-page-btn"><a href="#">페이지가기</a></span>

							</div>
						</div>
						<div class="lawmaker-image">
							<img src="http://tv03.search.naver.net/thm?size=120x150&quality=9&q=http://sstatic.naver.net/people/9/200802211309328761.jpg"/>
						</div>
						<div class="issue-list">
							<ul>
								<li class="issue-item">
									<span class="title">가나다라마바사아자차카타파하 제목제목제목 ㅋㅋㅋㅋㅋㅋㅋㅋ큐큐큨큐큐큐큐큐큐큐큐큐큐큨큐</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
								<li class="issue-item">
									<span class="title">짧은 제목</span>
									<span class="issue-origin">크아아아아오옹</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>

								<li class="issue-item">
									<span class="title">abcdefgabcdefgabcdefgabcdefgabcdefgabcdefgabcdefg</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
							</ul>

						</div>

					</li>
					<li class="lawmaker-item">
						<div class="lawmaker-item-header">
							<span class="lawmaker-rank">1</span>
							<span class="lawmaker-name">서대원</span>
							<span class="rank-arrow up">▲</span>
							<span class="rank-change up">1</span>

							<div class="lawmaker-header-rigth-item">
								<span class="new new-label-title">NEW</span>
								<span class="new new-count">302</span>
								<span class="total-label-title">TOTAL</span>
								<span class="total-count">23,456</span>
								<span class="member-page-btn"><a href="#">페이지가기</a></span>

							</div>
						</div>
						<div class="lawmaker-image">
							<img src="http://tv03.search.naver.net/thm?size=120x150&quality=9&q=http://sstatic.naver.net/people/9/200802211309328761.jpg"/>
						</div>
						<div class="issue-list">
							<ul>
								<li class="issue-item">
									<span class="title">가나다라마바사아자차카타파하 제목제목제목 ㅋㅋㅋㅋㅋㅋㅋㅋ큐큐큨큐큐큐큐큐큐큐큐큐큐큨큐</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
								<li class="issue-item">
									<span class="title">짧은 제목</span>
									<span class="issue-origin">크아아아아오옹</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>

								<li class="issue-item">
									<span class="title">abcdefgabcdefgabcdefgabcdefgabcdefgabcdefgabcdefg</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
							</ul>

						</div>

					</li>
					<li class="lawmaker-item">
						<div class="lawmaker-item-header">
							<span class="lawmaker-rank">1</span>
							<span class="lawmaker-name">서대원</span>
							<span class="rank-arrow up">▲</span>
							<span class="rank-change up">1</span>

							<div class="lawmaker-header-rigth-item">
								<span class="new new-label-title">NEW</span>
								<span class="new new-count">302</span>
								<span class="total-label-title">TOTAL</span>
								<span class="total-count">23,456</span>
								<span class="member-page-btn"><a href="#">페이지가기</a></span>

							</div>
						</div>
						<div class="lawmaker-image">
							<img src="http://tv03.search.naver.net/thm?size=120x150&quality=9&q=http://sstatic.naver.net/people/9/200802211309328761.jpg"/>
						</div>
						<div class="issue-list">
							<ul>
								<li class="issue-item">
									<span class="title">가나다라마바사아자차카타파하 제목제목제목 ㅋㅋㅋㅋㅋㅋㅋㅋ큐큐큨큐큐큐큐큐큐큐큐큐큐큨큐</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
								<li class="issue-item">
									<span class="title">짧은 제목</span>
									<span class="issue-origin">크아아아아오옹</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>

								<li class="issue-item">
									<span class="title">abcdefgabcdefgabcdefgabcdefgabcdefgabcdefgabcdefg</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
							</ul>

						</div>

					</li>
					<li class="lawmaker-item">
						<div class="lawmaker-item-header">
							<span class="lawmaker-rank">1</span>
							<span class="lawmaker-name">서대원</span>
							<span class="rank-arrow up">▲</span>
							<span class="rank-change up">1</span>

							<div class="lawmaker-header-rigth-item">
								<span class="new new-label-title">NEW</span>
								<span class="new new-count">302</span>
								<span class="total-label-title">TOTAL</span>
								<span class="total-count">23,456</span>
								<span class="member-page-btn"><a href="#">페이지가기</a></span>

							</div>
						</div>
						<div class="lawmaker-image">
							<img src="http://tv03.search.naver.net/thm?size=120x150&quality=9&q=http://sstatic.naver.net/people/9/200802211309328761.jpg"/>
						</div>
						<div class="issue-list">
							<ul>
								<li class="issue-item">
									<span class="title">가나다라마바사아자차카타파하 제목제목제목 ㅋㅋㅋㅋㅋㅋㅋㅋ큐큐큨큐큐큐큐큐큐큐큐큐큐큨큐</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
								<li class="issue-item">
									<span class="title">짧은 제목</span>
									<span class="issue-origin">크아아아아오옹</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>

								<li class="issue-item">
									<span class="title">abcdefgabcdefgabcdefgabcdefgabcdefgabcdefgabcdefg</span>
									<span class="issue-origin">뒤로일보</span>
									<span class="bar">|</span>
									<span class="day">오늘</span>
								</li>
							</ul>

						</div>

					</li>

				</ul>

			</div>

		
		</section>	
	</div>
	<footer>

	</footer>

</body>
</html>